<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>SMTP Server Settings</title>

        <input-field type="text">
            <name>smtpHost</name>
            <required>true</required>
            <label>Host</label>
            <placeholder>Fill in host name...</placeholder>
        </input-field>

        <input-field type="int">
            <name>smtpPort</name>
            <required>true</required>
            <label>Port</label>
            <placeholder>Fill in port number...</placeholder>
        </input-field>

        <input-field type="text">
            <name>smtpUsername</name>
            <required>true</required>
            <label>Username</label>
            <placeholder>Fill in username...</placeholder>
        </input-field>

        <input-field type="password">
            <name>smtpPassword</name>
            <required>true</required>
            <label>Password</label>
            <placeholder>Fill in password...</placeholder>
        </input-field>

        <input-field type="single-select">
            <name>encryption</name>
            <options>
                <option>
                    <id>none</id>
                    <name>No encryption</name>
                </option>
                <option>
                    <id>ssl</id>
                    <name>SSL encryption</name>
                </option>
                <option>
                    <id>tsl</id>
                    <name>TLS encryption</name>
                </option>
            </options>
            <label>Encryption</label>
        </input-field>

        <input-field type="text">
            <name>smtpSenderAddress</name>
            <label>Sender Address</label>
            <placeholder>Fill in a valid email address...</placeholder>
        </input-field>
    </card>

</config>
